{% extends 'base.html' %}

{% block bodyblock %}
    
    <br> <br><br><br><br>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <h1 class="display-2"style="text-align: center; color: rgb(33, 32, 28); font-family: 'Open Sans', sans-serif;">
        Dog Breed Classifier
    </h1>
    <br><br>
    <h3 style="text-align: center;color:rgb(148, 7, 43); font-family: 'Open Sans', sans-serif; "><b>
      AI  Model  to  predict  30  kinds  of  Dog  Breeds  in  an  instant ! <br>
      <span style="color:rgb(17, 111, 111)">Check  in  <b >'Breed'</b>  section in navbar to  find  out  all  the  breeds  which  the model  can  predict.</span> <br>
      <span style="color:rgb(148, 7, 43);"> Go  to  <b >'Predict'</b>  section in navbar to  upload  the  dog image  to  Predict  the  Dog  Breed.</span>
    </b></h3><br><br>
    <h4>TEAM MEMBERS: <br>SARSI 21BCE3689<br>SRISHTI NARAIN 21BCE0945<br>SOHAM THORAT 21BIT0503</h4>
    <br>



    <!-- Footer -->

    
    {% endblock %}